#menu {
    transition: .8s ease-in-out;
}

#toggle {
    transition: .8s ease-in-out;
}

.fa-angle-left {
    padding-left: -20px;
}

#send_message {    
    transition: .6s ease-in-out;
}

.rigth-300 {
    right: -330px;
}

.grapic {
    width: 700px;
    height: 100px;
    position: absolute;
    top:350px;
    margin-left: 350px;
}

@media screen and (max-width: 768px) {
    .hidden-menu {
        left: -500px !important; 
    }

    .active-menu {
        left: 0;
    }

    .toggle-180 {
        transform: rotate(180deg);
    }

    .toggle-0 {
        transform: rotate(0deg);
    }

    .grapic {
        width: 300px;
        height: 200px;
        position: absolute;
        top: 640px;
        margin-left: 50px;
    }

    .grapic canvas {
        height: 70px;
    }
}